{%extends 'gb/base.html'%}

{%block title%}
<p><a href="{%url 'gb:confirmed'%}">GymBud</a> Ingestão de água</p>
<h1>{{request.user}}</h1>
{%endblock%}

{%block content%}
{% if um_dig == True %}
<h2>Dia 0{{dia}}/{{mes}} - Quantidade ingerida em ml</h2>
{% else %}
<h2>Dia {{dia}}/{{mes}} - Quantidade ingerida em ml</h2>
{% endif %}
<form method="POST" action="">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="Adicionar">
</form>
<div>
    <p>Seu consumo até agora: <strong>{{consumo}} ml</strong> </p>
    {%if bateu_meta %}
    <p>Você bateu sua meta diária.</p>
    {%if falta != 0%}
    <p><strong>{{falta}}ml<strong> ultrapassados da meta.</p>
    {%endif%}
    {%else%}
    <p>Faltam <strong>{{falta}} ml</strong> pra sua meta diária.</p>
    {%endif%}
</div>
{%endblock%}