{%extends 'gb/base.html'%}

{%block title%}
<p><a href="{%url 'gb:confirmed'%}">GymBud</a> Ingestão de água</p>
<h1>{{request.user}}</h1>
{%endblock%}

{%block content%}
<h2>Quantidade ingerida em ml:</h2>
<form method="POST" action="">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="Adicionar">
</form>
<div>
    <p>Seu consumo até agora: {{consumo}} ml </p>
    {%if bateu_meta %}
    <p>Você bateu sua meta diária.</p>
    {%if falta != 0%}
        <p>{{falta}}ml ultrapassados da meta.</p>
    {%endif%}
    {%else%}
    <p>Faltam {{falta}} ml pra sua meta diária.</p>
    {%endif%}
</div>
{%endblock%}