{%extends 'gb/base.html'%}

{%block title%}
<p><a href="{%url 'gb:confirmed' usuario.pk %}">GymBud</a> Ingestão de Calorias</p>
<h1>{{usuario}}</h1>
{%endblock%}

{%block content%}
{% if um_dig == True %}
<h2>Dia 0{{dia}}/{{mes}} - Quantidade ingerida em kcal</h2>
{% else %}
<h2>Dia {{dia}}/{{mes}} - Quantidade ingerida em kcal</h2>
{% endif %}
<form method="POST" action="">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="Adicionar">
</form>
<div>
    <p>Seu consumo até agora: <strong>{{consumo}} kcal</strong> </p>
    {%if bateu_meta %}
    <p>Você bateu sua meta diária.</p>
    {%if falta != 0%}
    <p><strong>{{falta}}kcal<strong> ultrapassados da meta.</p>
    {%endif%}
    {%else%}
    <p>Faltam <strong>{{falta}} kcal</strong> pra sua meta diária.</p>
    {%endif%}
</div>
{%endblock%}