{%extends 'gb/base.html'%}

{%block title%}
<p><a href="{%url 'gb:confirmed' usuario.pk %}">GymBud</a> main</p>
<h1>{{request.user}}</h1>

{%endblock%}
{% block content %}
<h4><a href="{% url 'gb:metas_info' usuario.pk %}">Suas metas</a></h4>
<h4><a href="{% url 'gb:peso' usuario.pk %}">Seu peso</a></h4>
<h4><a href="{% url 'gb:agua' usuario.pk %}">Ingestão de água</a></h4>
<h4><a href="{%url 'gb:logout'%}">Logout</a></h4>
<br>
<span><strong>Peso atual:</strong> {{caracteristicas.peso_atual}} ------------------ </span>
<span><strong>Qtnd água do dia:</strong> {{ingestao.agua}} mL ------------------ </span>
{% endblock content %}