{% load static %}
{%block content%}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GYMBUD</title>
    <link rel="stylesheet" href="../../../static/main/css/index.css">
</head>
<body>
<section class="main">
    <header>
        <div class="center menu-container">
            <div class="logo">
                <h3>GYMBUD</h3>
            </div>
            <div class="menu">
                <a style="background-color: #ec4141;" href ="{%url 'gb:register'%}">Cadastro</a>
                <a href = " ">Quem Somos</a>
            </div>
        </div>
    </header>
    <div class="texto-pag-inicial" ><h1>#GymBudTeam</h1><h3>working for your progress</h3></div>
</section>
<section class="produtos"> 
    <h3>Transformando o Shape dos Sonhos em Realidade!</h3>
    <p></p>
    <br/>
    <br/>
    <div class="center produto-container">
        <div class="historia-single">
            <h3>CONTADOR DE ÁGUA</h3>
            <img src= "{% static 'historia1.jpg' %}">
            <p>Auxilia no alcançe da sua meta diária de consumo de água.<br><br></p>
        </div>
        <div class="historia-single">
            <h3>CONTADOR DE CALORIAS</h3>
            <img src= "{% static 'historia2.jpg' %}">
            <p>Auxilia a bater sua meta diária de ingestão de calorias, conforme seu objetivo.<br><br></p>
        </div>
        <div class="historia-single">
            <h3>DEFINIÇÃO DE METAS</h3>
            <img src= "{% static 'historia3.jpg' %}">
            <p>Através do cadastro personalizado, é possível acompanhar sua evolução conforme suas metas.<br><br></p>
        </div>
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="login">
            <h1 class="cabecalho-cadastro">LOGIN</h1>
            <br><br>
            <div class="input-user">
                <input type="text" name="username" placeholder="username">
            </div>
            <br>
            <div class="input-pass">
                <input type="password" name="password" placeholder="password">
            </div>
            {% for message in messages %}
            <p id="messages" style="color: white">{{message}}</p>
            {% endfor %}
            <br>
            <div class="botao-centro">
                <button type="submit" value="Login">Entrar</button>
            </div>
            <br><p class="link-cadastro">Ainda Não Faz Parte Do #GymBudTeam?<a href="{%url 'gb:register'%}"><br>Cadastre-se Agora</a></p>
        </div>
    </form>

</section>
<footer><p>&copy;TODOS OS DIREITOS RESERVADOS</p></footer>
</body>
</html>
{%endblock%}