{% extends 'gb/base.html' %}

{%block title%}
<p><a href="{%url 'gb:index' %}">GymBud</a> Login</p>
{%endblock%}

{%block content%}

<body>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            <div class="input-user">
                <input type="text" name="username" placeholder="username">
            </div>
            <div class="input-pass">
                <input type="password" name="password" placeholder="password">
            </div>
            <div class="btn-login">
                <input type="submit" value="Login">
            </div>
        </form>
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}
        <div>
</body>
{%endblock%}