{%block content%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/fontawesome.min.css" integrity="sha512-RvQxwf+3zJuNwl4e0sZjQeX7kUa3o82bDETpgVCH2RiwYSZVDdFJ7N/woNigN/ldyOOoKw8584jM4plQdt8bhA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../static/main/css/style.css">
    <title>Login</title>
</head>
<body>
    <section class="main">
        <header>
            <div class="centro menu-container">
            <div class="logo" href=""> 
                <h3><i class="fa-sharp fa-solid fa-house"></i><a href="{%url 'gb:index'%}">GYMBUD</a></h3>
            </div>
            <div class="menu">
                <a class="active-menu" href="">Login</a>
                <a href = ""></a>
                <a href = ""></a>
            </div>
            </div>
        </header>
    <div class="main-container">
    <div class="container">
        <h2>Login</h2>
        <br><br>
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-user">
                    <input type="text" name="username" placeholder="username">
                    <label for="nome">Nome:</label>
                </div>
                <div class="input-pass">
                    <input type="password" name="password" placeholder="password">
                    <label for="nome"> Senha:</label>
                </div>
                <div class="btn-login">
                    <button type="submit" value="Login">Entrar</button>
                </div>
                <div>
                    <p class="link-cadastro">Ainda Não Faz Parte Do #TeamGymBud?<a href="{%url 'gb:register'%}">Cadastre-se Agora</a></p>
                </div>
            </form>
            {% for message in messages %}
            <p id="messages">{{message}}</p>
            {% endfor %}
        <div>
    </div>
    </div>
</section>
</body>
</html>
{%endblock%}