{%extends 'gb/base.html'%}

{%block title%}
<p><a href="{%url 'gb:confirmed'%}">GymBud</a> Seu peso</p>
<h1>{{pessoa}}</h1>
{%endblock%}

{%block content %}

<h2>Peso Atual: {{caracteristicas.peso_atual}} kg</h2>
<h2>Meta de peso: {{metas.peso}} kg</h2>
<br>
<form method="POST" action="">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" value="Editar">
</form>
<br>
<p>{{caracteristicas.inicio}}: <strong>{{caracteristicas.peso_inicial}}</strong></p>
{% for entrada in historico %}
<p>{{entrada.created}}: <strong>{{entrada.peso}}</strong></p>
{% endfor %}
{%endblock%}